<!DOCTYPE html>
<html>
	<head><title>Job progress Counter</title></head>
	<body>
	
		<h1>Job progress Counter</h1>
		<form action = "" method = "post" onsubmit = "send();return false;">
			<button id = "send-btn" type = "submit">Send</button>
		</form>
		<h2>Progress</h2>
		<hr />
		<table id = "mytable" border = "1">
			<tr>
				<th>Job ID</th><th>Time</th><th>Job Progress</th><th>Status</th>
			</tr>
			{% for job in jobs %}
			<tr>
				<td>{{job.key}}</td><td>{{job.time_started}}</td><td>{{job.progress}}</td>
				{% if job.completed %}
					<td>Completed</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	<script>
	function send()
	{
		if (window.XMLHttpRequest)
		{
		 	xmlhttp=new XMLHttpRequest();
		}
		  	
		xmlhttp.open("POST","/");
		xmlhttp.send();
		return false;
	}
	function polling()
	{
		if (window.XMLHttpRequest)
		{
		 	xmlhttp=new XMLHttpRequest();
		}
		
		xmlhttp.onreadystatechange=function(){
		
		  		if(xmlhttp.readyState==4 && xmlhttp.status==200)
		    	{
		    		document.getElementById("mytable").innerHTML=xmlhttp.responseText;
		    	}
		  	
		  	}
		  	
		xmlhttp.open("GET","/results");
		xmlhttp.send();
	}
	setInterval("polling();",1000);
	</script>
	</body>
</html>
